{% extends "svplocationAdminBundle::layout.html.twig" %}

{% block content %}

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light portlet-fit portlet-form bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bubble font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Modification de la catégorie</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <!-- BEGIN FORM-->
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            
                           <div>
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                                   






                                   <div class="row form-group  margin-top-20">
                                        
                                        <label class="control-label col-md-3">Reference
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                
                                                  {{ form(edit_form.refCat) }}
                                            </div>
                                        </div>
                                    </div>

                                    
                                   <div class="row form-group  margin-top-20">
                                        
                                        <label class="control-label col-md-3">Nom 
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                
                                                  {{ form(edit_form.nom) }}
                                            </div>
                                        </div>
                                    </div>

                                    
                                   <div class="row form-group  margin-top-20">
                                        
                                        <label class="control-label col-md-3">description 
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                
                                                  {{ form(edit_form.description) }}
                                            </div>
                                        </div>
                                    </div>

                                    
                                        



                                <div class="form-actions">
                                    <div class="row">
                                        
                                        <div class="col-md-offset-3 col-md-9">
                                          <input class="btn btn-primary" type="submit" value="Modifier"/>
                                        </div>
                                    </div>
                                </div>

                          <div hidden>
                        	 {{ form_rest(edit_form) }}
                         </div>
                         {{ form_end(edit_form) }}
                        
                            <!-- END FORM-->
                            
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>

        </div>
    </div>
    <!-- END CONTENT BODY -->

    <!-- END CONTENT -->  
{% endblock  %}
  






{% block body -%}
    <h1>Categorie edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorie') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
