
{% extends "svplocationClientBundle::layout.html.twig" %}



{% block head %}
    <head>
        <meta charset="utf-8" />
        <title>SvpLocation | Client</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{asset('bundles/admin/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/jquery-multi-select/css/multi-select.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/plugins/select2/css/select2-bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{asset('bundles/admin/assets/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{asset('bundles/admin/assets/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{asset('bundles/admin/assets/layouts/layout/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/admin/assets/layouts/layout/css/themes/darkblue.min.css')}}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{asset('bundles/admin/assets/layouts/layout/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->


        <!-- END PAGE LEVEL PLUGINS -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->
</head>
{% endblock %}
{% block scripts_imports %}
    <script>

        $(document).ready(function () {
            buildHtmlTable('#jsonTable');
        });

        var myList = $('#jsonStr').html();

// Builds the HTML Table out of myList.
        function buildHtmlTable(selector) {
            var columns = addAllColumnHeaders(myList, selector);

            for (var i = 0; i < myList.length; i++) {
                var row$ = $('<tr/>');
                for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                    var cellValue = myList[i][columns[colIndex]];

                    if (cellValue == null) {
                        cellValue = "";
                    }

                    row$.append($('<td/>').html(cellValue));
                }
                $(selector).append(row$);
            }
        }

// Adds a header row to the table and returns the set of columns.
// Need to do union of keys from all records as some records may not contain
// all records
        function addAllColumnHeaders(myList, selector)
        {
            var columnSet = [];
            var headerTr$ = $('<tr/>');
            for (var i = 0; i < myList.length; i++) {
                var rowHash = myList[i];
                for (var key in rowHash) {
                    if ($.inArray(key, columnSet) == -1) {
                        columnSet.push(key);
                        headerTr$.append($('<th/>').html(key));
                    }
                }
            }
        }

    </script>
{% endblock %}
{% block content %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        Gestion materiel
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Location</span>
                    </li>
                </ul>
            </div>
            <!-- END PAGE BAR -->
            <div class="row">
                <div class="col-md-12">

                    <div class="mt-element-step">
                        <br>
                        <br>
                        <div class="row step-background-thin">
                            <div class="mt-step-desc">
                                <div class="font-dark bold uppercase">Location materiel</div>
                                <div class="caption-desc font-grey-cascade">Pour demander une location, veuillez suivre les étapes suivantes </div>
                                <br> </div>
                            <a href="{{ path('demande_location_materiel')}}"> 
                                <div class="col-md-4 bg-grey-steel mt-step-col">
                                    <div class="mt-step-number">1</div>
                                    <div class="mt-step-title uppercase font-grey-cascade">Entrepôt</div>
                                    <div class="mt-step-content font-grey-cascade">Séléctionner l'entrepôt</div>
                                </div>
                            </a>
                            <div class="col-md-4 bg-grey-steel mt-step-col">
                                <div class="mt-step-number">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Louer</div>
                                <div class="mt-step-content font-grey-cascade">Choisir le materiel à louer</div>
                            </div>
                            <div class="col-md-4 bg-grey-steel mt-step-col active">
                                <div class="mt-step-number">3</div>
                                <div class="mt-step-title uppercase font-grey-cascade">Confirmer</div>
                                <div class="mt-step-content font-grey-cascade">Confirmer la demande</div>
                            </div>
                        </div></div>


                    <br /><br />
                    <div class="portlet light form-fit bordered">

                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Veuillez confirmer votre demande de location</span>
                            </div>

                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="" class="form-horizontal form-row-seperated">
                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            //TOCOMPLETE
                                            <br />
                                            Informations reçues par la méthode poste sous format json  (TEST)
                                            <br />
                                            <div id="jsonStr">
                                                {{json}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table id="jsonTable" border="1">
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-5">
                                            <button onclick="next()
                                                            ;" type="button" class="btn blue btn-lg">Demander la location</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>

{% endblock %}


{% block scripts %}

    <!-- BEGIN CORE PLUGINS -->
    <script src="{{asset('bundles/admin/assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{asset('bundles/admin/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/global/plugins/select2/js/select2.full.min.js')}}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{{asset('bundles/admin/assets/global/scripts/app.min.js')}}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{asset('bundles/admin/assets/pages/scripts/components-multi-select.min.js')}}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="{{asset('bundles/admin/assets/layouts/layout/scripts/layout.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/layouts/layout/scripts/demo.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/admin/assets/layouts/global/scripts/quick-sidebar.min.js')}}" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

{% endblock %}